h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
    font-weight: 600;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    color: brown;
}

.roblox{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: left;
    font-weight: 200;
}

.img-item{
    margin-top: 20px;
    width: 300px;
    border: 3px solid red;
    background-color: black;
}
img{
    border-radius: 30%;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
